*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn{
  background-color: #FD6E0A;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white ;
  cursor: pointer;
}
/* share style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;   
}

.logo h2{
  font-size: 45px;
  font-weight: 900;
}
.logo-color{
  color: #FD6E0A;
}
/* main style */
.font-open-sans{
   background: url("../images/developer.png"),url("../images/header_bg.png") , #FFF8F3;
   background-repeat: no-repeat; 
   background-position: top left , bottom right;
   
   
}
header{
  background-color: #FFF8F3;
  padding:20px;
  
 
   
}
nav{
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid red; */
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  list-style: none;
  gap:51px
  
  
}
ul a{
  text-decoration: none;
  font-size: 20px;
  color: #474747;
  align-items: center;
}
#banner{
  /* border: 1px solid red; */
  margin: 47px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-image img{
  width: 450px;
  height: 600px;
}
.banner-content p{
  width:auto;
}
#banner .banner-content{
  max-width: 585px;
}
#banner .banner-content h2{
 font-size: 45px;
 font-weight:600;
 color: #474747;
 margin-bottom:5px;
}
#banner .banner-content h1{
  font-size: 85px;
 font-weight:bold;
 color: #181818;

}
#banner .banner-content p{
  font-family: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;

}
#banner .banner-image img{
  max-width: 585px;
  vertical-align: middle;

}
#about{
  padding:130px;
}
#about .about-container{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #f3cbaf;
  padding: 131px 156px;
  
}
.section-heading{
  max-width: 827px;
  text-align: center;
  margin: o auto;
}
.section-heading h2{
  font-size: 35px;
  margin-bottom: 30px;
}
.section-heading p{
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;

}
#about .about-container .about-info{
  display: flex;
  justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}
#skills{
  padding-top: 130px;
}
#skills  .skills-container{
  width: 971%;
  max-width: 1240px;
  margin: 0 auto;

}
#skills  .skills-container .skill-box{
  display: flex;
  gap: 24px;
}
#skills .skill-card{
  padding: 30px;
  box-shadow:0 6px 50px 0 #000000 ;
  /* border: 1px solid red; */
  max-width: 267px;
}
.skill-card img{
  max-width: 44px;
  margin-bottom: 30px;

}
}
.skill-card h3{
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
}
.skill-card p{
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}